/* ============================= */
/* GROUPS.CSS - STILE PER LA PAGINA GROUPS-MAIN */
/* ============================= */

/*Evita che il titolo vada a capo*/
main > section > ul > li > button.delete-user {
    margin-right: 1%;
    cursor: pointer;
}

/*--- Bottone nuovo gruppo ---*/
#btn-new-group{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Dimensioni fisse */
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important; /* Impedisce al flexbox di schiacciarlo se l'h2 è lungo */
    
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-bg-color);
    border-radius: 50%;
    cursor: pointer;
    
    /* Ombra e transizione */
    box-shadow: 0 4px 0px var(--button-hover-bg-color);
    transition: all 0.2s ease;
    
    /* Margine di sicurezza per non toccare il bordo destro */
    margin-right: 10px;
}

#btn-new-group:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

#btn-new-group:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}