/* ============================= */
/* GROUPS.CSS - STILE PER LA PAGINA GROUPS-MAIN */
/* ============================= */

/*Evita che il titolo vada a capo*/
main > section > ul > li > button.delete-user {
    margin-right: 1%;
    cursor: pointer;
}

/*--- Bottone nuovo gruppo ---*/
#btn-new-group{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Dimensioni fisse */
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important; /* Impedisce al flexbox di schiacciarlo se l'h2 è lungo */
    
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-bg-color);
    border-radius: 50%;
    cursor: pointer;
    
    /* Ombra e transizione */
    box-shadow: 0 4px 0px var(--button-hover-bg-color);
    transition: all 0.2s ease;
    
    /* Margine di sicurezza per non toccare il bordo destro */
    margin-right: 10px;
}

#btn-new-group:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

#btn-new-group:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}

/*--- Navigazione tra pagine ---*/
.parent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
}

.impagination{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 70%;
    min-width: 30%;
}

.impagination p {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

#forward-button, #back-button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-bg-color);
    box-shadow: 0 4px 0px var(--button-hover-bg-color); 
    transition: all 0.2s ease;
    border-style: none;

}

#forward-button:hover, #back-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

#forward-button:active, #back-button:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}