/* ============================= */
/* INDEX.CSS - STILE DELLA PAGINA INDEX */
/* ============================= */

/*login and register buttons*/
a.btn {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 0px var(--button-hover-bg-color);
    transition: all 0.2s ease;
    align-content: center;
}

a.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

a.btn:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}

/*Impedisce al bottone registrati di uscire a destra della pagina*/
nav > ul.registerLoginBtns {
    padding: 0 3%;
    gap: 10%;
}

/*Nome utente in alto a sinistra*/
nav > ul.registerLoginBtns > li > p {
    font-size: 1.5rem;
}

/*Allinea il nome utente ai bottoni in alto*/
.registerLoginBtns {
    display: flex !important;
    /* flex-direction: row !important;
    flex-wrap: wrap !important; */      /* Permette ai bottoni di scendere sotto il nome */
    justify-content: center;         /* Centra gli elementi se vanno a capo */
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0 !important;
    padding: 10px 3% !important;
    width: 100%;
    box-sizing: border-box;
}

.registerLoginBtns > li {
    margin: 0;
}

/*--- Impaginazione sections ---*/
section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section h3 {
    margin-bottom: 5px;
}

section p{
    margin: 0;
}

article > p:last-child {
    margin-top: 200px;
}

section + section {
    margin-top: 40px;
}