/* ============================================== */
/* SEARCH.CSS - STILE PER LA PAGINA DI RICERCA */
/* ============================================== */

/*Filter window*/
button.tag-button {
    transition: all 0.2s ease;
}

form div ul {
    list-style: none;
}

form div {
    display: flex;
    flex-direction: column;


    transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease, margin 0.5s ease;
    max-height: 500px; 
    overflow: hidden;  

    backface-visibility: hidden;
    pointer-events: none;
    transform:translateX(100%);
    opacity: 0; 
    transition: transform 0.4s ease-in-out, opacity 0.3s;
}
 
form div.show {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
}