main > div > h2{
    width: fit-content;
    text-align: left;
    white-space: nowrap;
}

main > section > h3 {
    padding-left: 1%;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    margin-bottom: 2px;
    box-sizing: border-box;
}

main > section > h3.header-descrizione {
    border:none;
    padding-top: 5%;
}

main > section > h3 > a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    cursor:pointer;
    font-size: 1.5rem;
}

main > section > h3 > a:hover {
    opacity: 0.8;
}

main > section > ul {
    list-style:none;
    text-align: left;
    padding: 1%;
    margin-top: 1%;
}

main > section > ul > li {
    padding: 5px;
}

main > section > ul > li > button.delete-user {
    margin-right: 1%;
    cursor: pointer;
}

main > section > p {
    padding: 15px 10px 0 15px;
    font-size: 1rem;
}

main > section > p:first-of-type{
    color:#047857b6;
    font-style: italic;
}

main > section > p.descrizione-gruppo {
    font-weight: normal;
}

/*Filter window*/
button.tag-button {
    transition: all 0.2s ease;
}

form div ul {
    list-style: none;
}

form div {
    display: flex;
    flex-direction: column;


    transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease, margin 0.5s ease;
    max-height: 500px; 
    overflow: hidden;  

    backface-visibility: hidden;
    pointer-events: none;
    transform:translateX(100%);
    opacity: 0; 
    transition: transform 0.4s ease-in-out, opacity 0.3s;
}
 
form div.show {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
}

.notification.fade-out {
    opacity: 0;
    transform: translateX(100%);
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in, max-height 0.3s 0.2s;
    border: none; /* Rimuove il bordo durante la chiusura */
    pointer-events: none;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin: 0 5%;
    flex-wrap: wrap;
}

/*Bottone nuovo gruppo*/
#btn-new-group{
    /*tolgo lo stile predefinito del bottone*/
    all: unset;

    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.5em;
    width: 4vw;
    height: 4vw;
    box-shadow: 0 4px 0px var(--button-hover-bg-color);
    transition: all 0.2s ease;
}

#btn-new-group:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

#btn-new-group:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}

/*barra di ricerca*/
#ricerca-mio-gruppo {
    font-size: 1.3rem;
    box-shadow: 1px 1px 0 0 rgb(40, 40, 40);
    width: 80%;
}

/*bottone di ricerca*/
#btn-search{
    all: unset;

    background-color: #f0f0f0;
    background-image: url(../upload/search.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999999px;
    width: 8vw;
    height: 8vw;
    box-shadow: 1px 1px 0 0 rgb(40, 40, 40);
    margin: 2%;
    border-radius: 20%;
}

#btn-search:hover {
    box-shadow: unset;
}

#btn-search:active {
    background-color: #2F3E38;
}

#btn-reset {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 1px 1px 0 0 rgb(40, 40, 40);
    border-radius: 10%;
}

#btn-reset:hover {
    box-shadow: unset;
}

#btn-reset:active {
    background-color: #2F3E38;
}