:root {
    --header-footer-bg-color: #F0F4F2;
    --nav-lateral-bg-color: #D1DBD7;
    --text-color: #2F3E38;
    --button-bg-color: #059669;
    --button-hover-bg-color: #047857;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0 0 0 0;
    max-width: 100%;
    overflow-x: hidden;
}

main > h2{
    position: relative;
    z-index: 0;
    text-align: center;
}

header {
    background-color: var(--header-footer-bg-color);
    text-align: center;
    color: var(--text-color);
    padding: 5px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: var(--header-footer-bg-color);
    text-align: center;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav:nth-of-type(1) {
    text-align: center;
    max-width: 100%;
}

nav:nth-of-type(1) > ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
}

nav:nth-of-type(1) > ul > li:nth-child(2){
    margin-left: auto;
}

nav:nth-of-type(1) > ul > li > button {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: var(--button-bg-color);
    color: white;
    border-radius:10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    /* Ombra morbida verso il basso */
    box-shadow: 0 4px 0px #047857; 
    transition: all 0.2s ease;
}

nav:nth-of-type(1) > ul > li > button:hover {
    /* Si alza leggermente */
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

nav:nth-of-type(1) > ul > li > button:active {
    /* Quando clicchi, il bottone si "schiaccia" */
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}

/*menu*/
nav:nth-of-type(2) {
    position: absolute;
    margin: 0;
    width: 350px;  /*rende il nav largo quanto il content */
    max-width: 85vw; /* ma non più largo dell'85% della viewport */
    right: 0;
    top: 0;
    max-width: 100%;
    background-color: var(--nav-lateral-bg-color);
    text-align: center;
    height: 90vh;
    padding: 5vh 0;
    z-index: 1;

    /*effetto tenda*/
    backface-visibility: hidden;
    pointer-events: none;
    transform:translateX(100%); /* trasla inizialmente tutta la tendina fuori a destra */
    opacity: 0; 
    transition: transform 0.4s ease-in-out, opacity 0.3s;
}

nav:nth-of-type(2) > ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 13vh;
    list-style: none;
    padding: 0 5%;
}

nav:nth-of-type(2) > ul > li > button {
    width:100%;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor:pointer;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 8px;
    /* Ombra morbida verso il basso */
    box-shadow: 0 4px 0px var(--button-hover-bg-color); 
    transition: all 0.2s ease;
}

nav:nth-of-type(2) > ul > li > button:hover {
    /* Si alza leggermente */
    transform: translateY(-2px);
    box-shadow: 0 6px 0px var(--button-hover-bg-color);
}

nav:nth-of-type(2) > ul > li > button:active {
    /* Quando clicchi, il bottone si "schiaccia" */
    transform: translateY(4px);
    box-shadow: 0 0px 0px var(--button-hover-bg-color);
}

nav:nth-of-type(n+2) > button {
    position:absolute;
    right:2px;
    top:2px;
    border-radius: 5px;
    border:1px solid transparent;
    cursor:pointer;
    font-weight: bold;
}

nav:nth-of-type(n+2) > button:hover {
    border: 2px solid black;
}

nav:nth-of-type(3) {
    position: absolute;
    margin: 0;
    width: 350px;
    max-width: 85vw; /* ma non più largo dell'85% della viewport */
    right: 0;
    top: 0;
    max-width: 100%;
    height: 90vh;
    padding: 5vh 0;
    list-style: none;
    background-color: var(--nav-lateral-bg-color);
    z-index: 20;

    /*effetto tenda*/
    backface-visibility: hidden;
    pointer-events: none;
    transform:translateX(100%); /* trasla inizialmente tutta la tendina fuori a destra */
    opacity: 0; 
    transition: transform 0.4s ease-in-out, opacity 0.3s;
}

/*notifiche*/
nav:nth-of-type(3)> div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px 15px;
    gap: 15px;
    background-color:#FDFCF0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

nav:nth-of-type(3) > div > button {
    flex: 0 0 auto;
    margin: 0 0 20% 0;
    display: block;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

nav:nth-of-type(3) > div > button:hover {
    border: 2px solid black;
}

nav:nth-of-type(3) > div > div {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 90%;
}

nav.show {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2); /* ombra sul lato sinistro */
}
