body {
    margin: 0 0 0 0;
    max-width: 100%;
}

main > h2{
    position: relative;
    z-index: 0;
}

header {
    background-color: lightskyblue;
    text-align: center;
    color: mediumblue;
    padding: 5px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: lightskyblue;
    text-align: center;
    color: mediumblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav:nth-of-type(1) {
    text-align: center;
    max-width: 100%;
}

nav:nth-of-type(1) > ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
}

nav:nth-of-type(1) > ul > li:nth-child(2){
    margin-left: auto;
}

nav:nth-of-type(1) > ul > li > button {
    width: 100%;
    height: 100%;
}

nav:nth-of-type(2) {
    position: absolute;
    margin: 0;
    width: 350px;  /*rende il nav largo quanto il content */
    right: 0;
    top: 0;
    display: none;
    max-width: 100%;
    background-color: red;
    text-align: center;
    height: 90vh;
    padding: 5vh 0;
    /*visibility:initial; opacity: 0; transition: 0.3s; */
    z-index: 1;
}

nav:nth-of-type(2) > ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 17vh;
    list-style: none;
    padding: 0 5%;
}

nav:nth-of-type(2) > ul > button {
    padding: 15px 10px;
}

nav:nth-of-type(n+2) > button {
    position:absolute;
    right:2px;
    top:2px;
    border-radius: 5px;
    border:1px solid transparent;
    cursor:pointer;
}

nav:nth-of-type(n+2) > button:hover {
    border: 2px solid black;
}

nav:nth-of-type(3) {
    position: absolute;
    margin: 0;
    width: 350px;
    right: 0;
    top: 0;
    max-width: 100%;
    /*visibility:initial; opacity: 0; transition: 0.3s; */
    /* display: none; */
    height: 90vh;
    padding: 5vh 0;
    list-style: none;
    background-color:lightsteelblue;
    z-index: 20;
}

nav:nth-of-type(3)> div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px 15px;
    gap: 15px;
    background-color:powderblue;
}

nav:nth-of-type(3) > div > button {
    flex: 0 0 auto;
    margin: 0 0 20% 0;
    display: block;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

nav:nth-of-type(3) > div > button:hover {
    border: 2px solid black;
}

nav:nth-of-type(3) > div > div {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 90%;
}
