header {
    background-color: lightskyblue;
    text-align: center;
    color: mediumblue;
    padding: 5px 0;
}

footer {
    background-color: lightskyblue;
    text-align: center;
    color: mediumblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav:nth-of-type(2) {
    position: absolute;
    margin-left: 85%;
    width: fit-content;  /*rende il nav largo quanto il content */
    right: 20px;
    z-index: 1;
    display: none;
    /*visibility:initial; opacity: 0; transition: 0.3s; */
}

nav:nth-of-type(2) > ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0 5%;
}

nav:nth-of-type(2) > ul > button {
    padding: 15px 10px;
}

nav:nth-of-type(1) {
    text-align: center;
}

nav:nth-of-type(1) > ul {
    display: flex;
    flex-direction: row;
}

nav:nth-of-type(3) {
    position: absolute;
    width: 350px;
    right: 20px;
    z-index: 2;
    /*visibility:initial; opacity: 0; transition: 0.3s; */
    box-sizing: border-box;
}

nav:nth-of-type(3) > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav:nth-of-type(3) > ul > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px 15px;
}

nav:nth-of-type(3) > ul > div > button {
    flex: 0 0 auto;
    margin: 0 0 22% 0;
    display: block;
    flex-shrink: 0;
}

nav:nth-of-type(3) > ul > div > div {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 100%;
}
